body{
    margin: 0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    grid-template-areas: 
        "main main header"
        "main main egan"
        "box1 box2 egan"
        "box3 box3 egan";
    height: 100vh;
    margin: 2em;
}

main{
    grid-area: main;
    background: #fffadf; 
    text-align: center;
}

section.box1{
    grid-area: box1;
    background: #c4b35a;
}

section.box2{
    grid-area: box2;
    background: #333333;
}

section.box3{
    grid-area: box3 ;
    background: #202020;
}

header{
    grid-area: header;
}

.egan{
    grid-area: egan;
    background: url('egan\ nova-scotia.jpg') no-repeat;
    background-size: cover;
}

